<div class="swiftquiz-box">
    <p>{{# str }} instructor_sessions_going, swiftquiz {{/ str }}</p>
    <p>
        <a href="{{ path }}" class="btn btn-secondary">{{# str }} goto_session, swiftquiz {{/ str }}</a>
    </p>
</div>