<div class="swiftquiz-box">
    <p>{{# str }} quiz_not_running, swiftquiz {{/ str }}</p>
    <p>
        <a href="{{ reload }}" class="btn btn-secondary">{{# str }} reload {{/ str }}</a>
    </p>
</div>